/* customCalendar.css */
.react-calendar {
  width: 100%;
  border: none;
  font-family: inherit;
}

.react-calendar__tile--active {
  background: #e9d5ff !important;
  color: #7c3aed !important;
  border-radius: 6px;
  font-weight: 600;
}
/* npm install react-calendar 설치 필요*/
